name: CI

on:
  push:
  pull_request:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    container:
      image: python:3.12-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install make
        run: apt update && apt install make

      - name: Install Poetry
        run: pip install poetry

      - name: Configure Poetry
        run: |
          poetry config virtualenvs.create false
          poetry --version

      - name: Install dependencies
        run: |
          poetry install --no-interaction --no-ansi

      - name: Run unit tests
        run: make utest

  integration-tests:
    runs-on: ubuntu-latest
    container:
      image: python:3.12-slim
    services:
      postgres:
        image: postgres:18-alpine
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: test_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U user -d test_db"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 10

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Poetry
        run: pip install poetry toml-cli

      - name: Install make
        run: apt update && apt install make

      - name: Configure Poetry
        run: |
          poetry config virtualenvs.create false
          poetry --version

      - name: Install dependencies
        run: |
          poetry install --no-interaction --no-ansi

      - name: Configure settings.toml for integration tests
        run: |
          toml set --toml-path settings.toml app_use_testcontainers false
          toml set --toml-path settings.toml db_host 127.0.0.1
          toml set --toml-path settings.toml db_port 5432
          toml set --toml-path settings.toml db_user user
          toml set --toml-path settings.toml db_password password
          toml set --toml-path settings.toml db_name test_db


      - name: Run integration tests
        run: make itest

  build:
    runs-on: ubuntu-latest
    needs: [integration-tests, unit-tests]
    if: >
      ${{
        github.ref == 'refs/heads/main' &&
        needs.unit-tests.result == 'success' &&
        needs.integration-tests.result == 'success'
      }}
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}